.list {
    color: rgb(128, 0, 0);
    border: 2px solid rgb(10, 10, 10);
    border-radius: 5px;
    margin:4px;
   
}

.icons{
    position: absolute;

  }
  .icons:hover{
    color:black;
    font-size: larger;
  }

 